.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;//#282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//========NAV========//


.nav-container {
  width: 1vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 7;
  background-color: white;
}

// .nav-bar:hover {
//   border-bottom: 3px solid black;
// }

.nav-bar.nav-container::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 1.5px;
  left: 50%;
  bottom: 0;
  background-color: rgb(92, 92, 92);
  transition: all ease-in-out 1s;
}

.nav-bar.scrolled::after {
  width: 100%;
  left: 0;
}

.nav-bar {
  color: #c4dfe6;
  overflow: hidden;
  padding: 15px 0px 15px 0px;
  width: 100%;
}

.nav-bar .logo-container {
  font-size: 2em;
  height: 65.2px;
}

.nav-bar .main-logo {
  padding-left: 30px;
}

.nav-bar .logo-container h1 {
  color: black;
  margin: 0;
}

.nav-bar .search-container {
  margin: auto 0 auto 0;
  height: 70%;
  padding-right: 30px;
}

.nav-bar .MuiPaper-root {
  padding-left: 10px;
}

.nav-bar .search-container input {
  height: 100%;
  width: 250px;
}
